apted
distance
evaluate==0.4.6
func_timeout
lxml==6.0.2
matplotlib==3.7.5
mmeval
numpy<2.0.0
opencv-python-headless<4.10
pandas==2.0.3
Pillow==12.1.1
pylatexenc==2.10
python_Levenshtein==0.27.3
PyYAML==6.0.3
scikit-image
scipy
tabulate==0.9.0
tqdm==4.67.1
loguru==0.7.3
notebook
